@model IEnumerable<Product>

<style>
    thead > tr > th
    {
        user-select: none;
    }
    
    #product_rows > tr
    {
        user-select: none;
    }

    #product_search
    {
        margin-left: 3px;
    }

    #color_selection
    {
        float: right;
        margin-bottom: 10px;
    }

    .active
    {
        opacity: 1.0; 
    }

    .inactive
    {
        opacity: 0.6;
    }

    .activePageButton
    {
        background-color: black;
        color: white;
    }

    .inactivePageButton
    {
        background-color: white;
        color: black;
    }

    #page_buttons 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page_buttons > i
    {
        margin-right: 5px;
    }

    #page_buttons > button
    {
        margin-right: 5px;
        border: 1px solid black;
        width: 40px;
        text-align: center;
        user-select: none;
    }

    #page_buttons > button:hover
    {
        background-color: rgb(116, 116, 116);
    }

</style>

<label for="product_search">Product Search</label>
<input type="text" id="product_search">

<div id="color_selection">
    <b class="high-stock">&emsp;&emsp;</b> = High Stock (above reorder level)<br>
    <b class="medium-stock">&emsp;&emsp;</b> = Medium Stock (below reorder level)<br>
    <b class="low-stock">&emsp;&emsp;</b> = Low Stock (zero stock)
</div>  

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="pointer inactive" id="nameHeader">Product Name <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="categoryHeader">Category <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="unitsHeader">Units in Stock <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="reorderHeader">Reorder Level <i class="fa-solid fa-angle-down"></i></th>
        </tr>
    </thead>
    <tbody id="product_rows"></tbody>
</table>

<div id="page_buttons">

</div>

@section Scripts
{
    <script src="../../js/inventory.js"></script>
}