@model IEnumerable<Product>

<style>
    thead > tr > th
    {
        user-select: none;
    }
    
    #product_rows > tr
    {
        user-select: none;
    }

    #product_search
    {
        margin-left: 5px;
        margin-bottom: 10px;
    }
</style>

<label for="product_search">Product Search</label>
<input type="text" id="product_search">

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="pointer" id="nameHeader">Product Name <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer" id="categoryHeader">Category <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer" id="unitsHeader">Units in Stock <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer" id="reorderHeader">Reorder Level <i class="fa-solid fa-angle-down"></i></th>
        </tr>
    </thead>
    <tbody id="product_rows"></tbody>
</table>

@section Scripts
{
    <script src="../../js/inventory.js"></script>
}