@model IEnumerable<Product>

<link rel="stylesheet" href="~/css/inventory.css" />

<div id="filter_selection">
    <label for="product_search">Product Search</label>
    <input type="text" id="product_search"><br>

    <label for="product_categories">Product Categories</label>
    <select id="product_categories"></select>
</div>

<div id="color_selection">
    <b class="high-stock">&emsp;&emsp;</b> = High Stock (above reorder level)<br>
    <b class="medium-stock">&emsp;&emsp;</b> = Medium Stock (below reorder level)<br>
    <b class="low-stock">&emsp;&emsp;</b> = Low Stock (zero stock)
</div>  

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="pointer inactive" id="nameHeader">Product Name <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="categoryHeader">Category <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="unitsHeader">Units in Stock <i class="fa-solid fa-angle-down"></i></th>
            <th scope="col" class="text-right pointer inactive" id="reorderHeader">Reorder Level <i class="fa-solid fa-angle-down"></i></th>
        </tr>
    </thead>
    <tbody id="product_rows"></tbody>
</table>

<div id="page_buttons">

</div>

@section Scripts
{
    <script src="../../js/inventory.js"></script>
}