thead > tr > th
{
    user-select: none;
}

#product_rows > tr
{
    user-select: none;
}

#product_search
{
    margin-left: 3px;
}

#color_selection
{
    float: right;
    margin-bottom: 10px;
}

.active
{
    opacity: 1.0; 
}

.inactive
{
    opacity: 0.6;
}

.activePageButton
{
    background-color: black;
    color: white;
}

.inactivePageButton
{
    background-color: white;
    color: black;
}

#page_buttons 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_buttons > i
{
    margin-right: 5px;
}

#page_buttons > button
{
    margin-right: 5px;
    border: 1px solid black;
    width: 40px;
    text-align: center;
    user-select: none;
}

#page_buttons > button:hover
{
    background-color: rgb(116, 116, 116);
}