:root
{
    --product-border-color: rgb(59, 59, 59);
    --global-font-size: 1.2vw; 
}

table 
{
    font-size: var(--global-font-size);
}

thead > tr > th
{
    user-select: none;
    border-top: none !important;
    border-bottom: none !important; 
}

#product_rows > tr
{
    user-select: none;
    height: 52px;
}

#product_rows > tr > td
{
    border-top-color: var(--product-border-color);
}

#product_search, #product_categories
{
    margin-left: 10px;
    float: right;
    width: 200px;
    line-height: var(--global-font-size);
    font-size: var(--global-font-size);
}

#filter_selection
{
    display: inline-block;
    font-size: var(--global-font-size);
}

#color_selection
{
    display: inline;
    float: right;
    margin-bottom: 10px;
    font-size: var(--global-font-size);
}

.active
{
    opacity: 1.0; 
}

.inactive
{
    opacity: 0.6;
}

.column_header:hover
{
    opacity: 1.0;
}

.empty-product-row
{
    border-top: none !important;
}

.activePageButton
{
    background-color: black;
    color: white;
}

.inactivePageButton
{
    background-color: white;
    color: black;
}

#page_buttons 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

#page_buttons > i
{
    margin-right: 5px;
}

#page_buttons > button
{
    margin-right: 5px;
    border: 1px solid black;
    width: 40px;
    text-align: center;
    user-select: none;
}

#page_buttons > button:hover
{
    background-color: rgb(116, 116, 116);
}

.color-key
{
    border: 1px solid black;
}

.low-stock
{
  background-color: rgb(142, 37, 37);
}

.medium-stock
{
  background-color: yellow;
}

.high-stock
{
  background-color: white;
}

.stock_input, .reorder_input
{
    background-color: white;
    border: 1px solid black;
    width: 120px;
    text-align: left; 
    float: right; 
}